h1{
    color:black;
}
/* {
   border:solid;
}*/

.header {
    background :darkorchid;
    display:flex;
    justify-content :space-between ;
}

.grid {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.fotter {
    display:flex;
    justify-content: flex-end;
}